{% set input_type = attributes['data_element_type'] is defined ? attributes['data_element_type'] : '' %}

{% set attributes = attributes.addClass([
  input_type == 'checkbox' or input_type == 'radio' ? 'u-inline-block' : 'u-block',
  'u-pb-1',
  'u-font-semibold',
  title_display == 'after' ? 'option':'',
  title_display == 'invisible' ? 'u-sr-only':'',
]) %}

{% if required %}
  {% set attributes = attributes.addClass(['js-form-required', 'form-required']) %}
{% endif %}

{% if title is not empty or required -%}
  <label{{ attributes.addClass(classes) }}>{{ title }}</label>
{%- endif %}

