@use "../../tailwind-variables";

// Apply these styles to:
// 1) the rich text field on the frontend
// 2) the CKEditor in the node edit form
// 3) the CKEditor in the Layout Builder
// 4) Webform blocks
.rich-text,
.ck-editor,
#layout-builder-modal .ck-editor,
.block.webform {
  ul, ol {
    margin-bottom: 1rem; /* Equivalent to u-mb-4 */
    padding-left: 2.2rem; /* Equivalent to u-pl-[2.2rem] */

    li {
      margin-bottom: 0.375rem; /* Equivalent to u-mb-1.5 */
    }
  }

  ul {
    list-style-type: disc; /* Equivalent to u-list-disc */
  }

  ol {
    list-style-type: decimal; /* Equivalent to u-list-decimal */
  }

  a {
    &:not(.mytheme-link-button) {
      border-bottom: 1px solid #cc5500; /* Equivalent to u-border-b-[1px] u-border-burnt-orange */
      color: #cc5500; /* Equivalent to u-text-burnt-orange */

      &:visited {
        border-color: #ffffff; /* Equivalent to visited:u-border-white */
        color: #2c698d; /* Equivalent to visited:u-text-grey-blue */
      }
    }

    &.mytheme-link-button {
      display: inline-block; /* Equivalent to u-inline-block */
      padding: 0.5rem 0.75rem; /* Equivalent to u-px-3 u-py-2 */
      font-size: 0.875rem; /* Equivalent to u-text-sm */
      background-color: #f1e8e6; /* Equivalent to u-bg-ochre */
      color: #000000; /* Equivalent to u-text-black */
      text-decoration: none; /* Equivalent to u-no-underline */

      &:hover {
        background-color: #cc5500; /* Equivalent to hover:u-bg-burnt-orange */
        text-decoration: none; /* Equivalent to hover:u-no-underline */
      }
    }
  }

  // Stop any strong tags nested in rich text headings from overriding the font weight of the heading.
  @for $i from 1 through 6 {
    h#{$i},
    .h#{$i} {
      b,
      strong {
        font-weight: inherit;
      }
    }
  }
}
