@use "../_tailwind-variables" as tailwind;

// Use breakpoints defined in Tailwind.
$breakpoints: (
        sm: tailwind.$screen-sm,
        md: tailwind.$screen-md,
        lg: tailwind.$screen-lg,
        xl: tailwind.$screen-xl,
        xxl: tailwind.$screen-2xl
);
