@use '../tailwind-variables' as tw-var;

// Use breakpoints defined in Tailwind.
$breakpoints: (
        small: tw-var.$screen-sm,
        medium: tw-var.$screen-md,
        large: tw-var.$screen-lg,
        xl: tw-var.$screen-xl,
        xxl: tw-var.$screen-2xl
);

// Line-heights.
$lh: (
  // Line-height: 64px
        0: 64px,
  // Line-height: 44px
        1: 44px,
  // Line-height: 35px
        2: 35px,
  // Line-height: 24px
        3: 1.35,
        4: 1,
);

// Typi config.
$typi: (
        base: (
                null: (
                  // Font-size: 16px, Line-height: map-get($lh, 3)
                        16px,
                        map-get($lh, 3),
                ),
        ),
        h1: (
                null: (
                  // Font-size: 28px, Line-height: map-get($lh, 2)
                        28px,
                        map-get($lh, 2),
                ),
                large: (
                  // Font-size: 51px, Line-height: map-get($lh, 0)
                        51px,
                        map-get($lh, 0),
                ),
        ),
        h2: (
                null: (
                  // Font-size: 32px, Line-height: map-get($lh, 1)
                        32px,
                        map-get($lh, 1),
                ),
                large: (
                  // Font-size: 40px, Line-height: map-get($lh, 1)
                        40px,
                        map-get($lh, 1),
                ),
        ),
        h3: (
                null: (
                  // Font-size: 27px, Line-height: map-get($lh, 2)
                        27px,
                        map-get($lh, 2),
                ),
                large: (
                  // Font-size: 40px, Line-height: map-get($lh, 1)
                        40px,
                        map-get($lh, 1),
                ),
        ),
        h4: (
                null: (
                  // Font-size: 25px, Line-height: map-get($lh, 2)
                        25px,
                        map-get($lh, 2),
                ),
                large: (
                  // Font-size: 30px, Line-height: map-get($lh, 1)
                        30px,
                        map-get($lh, 1),
                ),
        ),
        h5: (
                null: (
                  // Font-size: 16px, Line-height: map-get($lh, 3)
                        16px,
                        map-get($lh, 3),
                ),
                large: (
                  // Font-size: 28px, Line-height: map-get($lh, 2)
                        28px,
                        map-get($lh, 2),
                ),
        ),
        h6: (
                null: (
                  // Font-size: 16px, Line-height: map-get($lh, 4)
                        16px,
                        map-get($lh, 4),
                ),
                large: (
                  // Font-size: 22px, Line-height: map-get($lh, 4)
                        22px,
                        map-get($lh, 4),
                ),
        ),
);

// Custom mixin for headings.
@mixin heading-typi($heading-level) {
  @if map-has-key($typi, $heading-level) {
    $typi-settings: map-get($typi, $heading-level);

    @if map-has-key($typi-settings, null) {
      // Directly access the first and second values from the list (font-size and line-height)
      font-size: nth(map-get($typi-settings, null), 1);
      line-height: nth(map-get($typi-settings, null), 2);
    }

    @each $breakpoint, $value in $breakpoints {
      @if map-has-key($typi-settings, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
          // Access the font-size and line-height for each breakpoint
          & {
          font-size: nth(map-get($typi-settings, $breakpoint), 1);
          line-height: nth(map-get($typi-settings, $breakpoint), 2);
          }
        }
      }
    }
  }
}
