// Swiper.
:root {
  --swiper-pagination-bullet-size: 14px;
  --swiper-pagination-bullet-width: 14px;
  --swiper-pagination-bullet-height: 14px;
  --swiper-theme-color: #{$color-burnt-orange};
  --swiper-pagination-bullet-inactive-color: #{$color-ochre};
  --swiper-pagination-bullet-inactive-opacity: 1;
}

section.u-bg-ochre {
  --swiper-pagination-bullet-inactive-color: #fff;
}

section.u-bg-dark-blue {
  --swiper-pagination-bullet-inactive-color: #fff;
  @include breakpoint('xl') {
    --swiper-pagination-bullet-inactive-color: #{$color-ochre};
  }
}

.swiper-button-lock {
  display: none!important;
}
