@use "../_tailwind-variables" as tailwind;
@use "02-mixins" as mixins;

// Swiper.
:root {
  --swiper-pagination-bullet-size: 14px;
  --swiper-pagination-bullet-width: 14px;
  --swiper-pagination-bullet-height: 14px;
  --swiper-theme-color: #{tailwind.$color-orange};
  --swiper-pagination-bullet-inactive-color: #{tailwind.$color-orange};
  --swiper-pagination-bullet-inactive-opacity: 1;
}

section.u-bg-orange {
  --swiper-pagination-bullet-inactive-color: #fff;
}

section.u-bg-dark-blue {
  --swiper-pagination-bullet-inactive-color: #fff;
  @include mixins.breakpoint('xl') {
    --swiper-pagination-bullet-inactive-color: #{tailwind.$color-orange};
  }
}

.swiper-button-lock {
  display: none!important;
}
