{{ attach_library('mytheme/cta-with-image') }}

{% set container_attributes = container_attributes|default(create_attribute())
  .addClass([
    'cta-with-image',
    'md:u-flex',
  ]) %}

{% if alignment == 'right' %}
  {% set alignment_class = 'md:u-justify-end' %}
{% elseif alignment == 'centre' %}
  {% set alignment_class = 'md:u-justify-center' %}
{% else %}
  {% set alignment_class = 'md:u-justify-start' %}
{% endif %}

<div{{ container_attributes.addClass(alignment_class).addClass(container_classes) }}>
  {% include '@molecules/cta/cta.twig' with {
    classes: [
      'md:u-flex',
      'md:u-pt-64',
      alignment != 'centre'? 'md:u-w-[calc(100%-64px)]':'',
      alignment != 'centre'? 'xl:u-w-full':'u-w-full',
      alignment_class,
    ],
    remove_classes: ['cta']|merge(remove_classes|default([])),
    wrapper_classes: [
      alignment != 'centre'? 'md:u-w-[calc(100%-80px)]':'md:u-w-[calc(100%-(1.75rem*2))] lg:u-w-[634px]',
    ]|merge(wrapper_classes|default([])),
    image_attributes: create_attribute().setAttribute('style','background-image:url('~image~')'),
    image_classes: [
      'u-bg-top',
      'u-bg-cover',
      'u-h-[25rem]',
      'md:u-absolute',
      'md:u-top-0',
      'md:u-right-0',
      'md:u-w-full',
    ]|merge(image_classes|default([]))
  } %}
</div>
